<form>
  <%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :customer_id, class: 'control-label'%><br>
    <%= f.text_field :customer_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %><br>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :customer_firstname, class: 'control-label' %><br>
    <%= f.text_field :customer_firstname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :customer_lastname, class: 'control-label' %><br>
    <%= f.text_field :customer_lastname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'control-label' %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email_address, class: 'control-label' %><br>
    <%= f.text_field :email_address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :seller_id, class: 'control-label' %><br>
    <%= f.text_field :seller_id, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>
</form>