<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer.customer_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<p>
  <strong>Customer firstname:</strong>
  <%= @customer.customer_firstname %>
</p>

<p>
  <strong>Customer lastname:</strong>
  <%= @customer.customer_lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @customer.email_address %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @customer.seller_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
