

<table class="footer_links">
     <tr>
       <td></td>
        <td>
            <h4>ABOUT STORE</h4>
            <ul class="list-unstyled">
              <li><%= link_to "Home", home_path %></li>
              <li><%= link_to "About Us", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </td>
        <td>
            <h4>MY ACCOUNT</h4>
            <ul class="list-unstyled">
              <% if user_signed_in? %>
                  <li><%= link_to "Dashboard", dashboard_path %></a></li>
                  <li><a href="#">Delete Account</a></li>
              <% else %>
                  <li><%= link_to "Create an Account", users_sign_up_path %></li>
              <% end %>

            </ul>
        </td>
        <td>
            <h4>SHOPPING</h4>
            <ul class="list-unstyled">
              <li><%= link_to "Catalog", catalog_path(:category => "All")%></li>
              <li><%= link_to "Thangka", catalog_path(:category => "Thangka")%></li>
              <li><%= link_to "Artifact", catalog_path(:category => "Artifact") %></li>
              <li><%= link_to "Jewellary", catalog_path(:category => "Jewellery") %></li>
            </ul>
        </td>
    </tr>
</table>

