<!-- app/views/shared/_navigation.html.erb -->

<div class="toolbar-wrapper">
  <div class="toolbar">
    <div class="logo-wrapper">
      <%= link_to image_tag("ui/logo.png", class: 'img-responsive img-thumbnail logo'), home_path %>
    </div>

    <div class="search-field">
        <%= form_tag catalog_path, :class=>"search", :method => 'get' do %>
          <%= text_field_tag :search, params[:search], :class=>"form-control",:placeholder=>"Name, Category or Keywords"  %>
          <%= submit_tag "", :name => nil, :alt=>"Go", :class=>"go btn btn-warning" %>
        <% end %>
    </div>

    <div class="account">
      <% if user_signed_in? %>
          <span class="orange greet">Hello <%= current_user.username %></span>
          <%= link_to "My Account", dashboard_path %></a>
          Not You? <%= link_to 'Logout', destroy_user_session_path %>
      <% else %>
          <%= link_to('Login', new_user_session_path) %> or <%= link_to('Register', new_user_registration_path)  %>
      <% end %>
    </div>


    <% if user_signed_in? %>
        <div class="cart-wrapper">
          <% @user_cart=ShoppingCart.where(u_id: current_user.id)%>
              <%if @user_cart!=nil?%>
              <%@user_cart.each do |shop_cart|%>
                  <%session[:cart_id]=shop_cart.id%>
                  <%cart='/shopping_carts/'+shop_cart.id.to_s%>
                  <a href='<%=cart%>' class="cart" title="Cart">
                    <i class="cart-icon"></i>
                    Cart </a>
                  <%count=CartItem.where(shopping_cart_id: shop_cart.id).distinct.count('product_id')%>
                  <span class="cart-count"><%=count%></span>
              <%end%>

              <%else%>
              <%cart='/shopping_carts/'%>
              <a href='#' class="cart" title="Cart">
                <i class="cart-icon"></i>
                Cart </a>
              <%count=0%>
              <span class="cart-count"><%=count%></span>
          <%end%>


        </div>
    <%end%>

  </div>
</div>

<div class="navigation">

  <ul class="nav nav-tabs">
    <li><%= link_to "CATALOG", catalog_path(:category => "All")%></li>
    <li><%= link_to "THANGKA", catalog_path(:category => "Thangka")%></li>
    <li><%= link_to "ARTIFACT", catalog_path(:category => "Artifact") %></li>
    <li><%= link_to "JEWELLERY", catalog_path(:category => "Jewellery") %></li>
  </ul>

</div>



