<!-- app/views/shared/_navigation.html.erb -->

<div class="container">
   <ul class="nav nav-tabs">

     <li><%= link_to "Home", home_index_path %></li>
     <li><%= link_to "About", about_index_path %></li>
     <li><%= link_to "Customers", customers_path %></li>
     <li><%= link_to "Products", products_path %></li>
     <li><%= link_to "Contact", contact_index_path %></li>

   </ul>
</div>

