<%= form_for(@bid_cart) do |f| %>
  <% if @bid_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid_cart.errors.count, "error") %> prohibited this bid_cart from being saved:</h2>

      <ul>
      <% @bid_cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bid_product_id %><br>
    <%if @product_for_bid%>
        <%= f.text_field :bid_product_id, :value =>@product_for_bid %>
    <%else%>
        <%= f.text_field :bid_product_id %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :bid_end_date %><br>
    <%= f.datetime_select :bid_end_date %>
  </div>
  <div class="field">
    <%= f.label :opening_price %><br>
    <%= f.text_field :opening_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
