<p id="notice"><%= notice %></p>

<h3>List of current Auctions</h3>

<table class="table table-striped">

  <% @bid_carts.each do |bid_cart| %>

      <tr>
        <%@product=Product.where(product_id: bid_cart.bid_product_id)%>
        <%@product.each do |product|%>
            <td class="col-md-2">
              <%= image_tag(product.image.url(:thumb), class: 'img-responsive img-thumbnail')%>
            </td>
            <td class="col-md-3">
              <p class="lead">Item on auction:<%=product.name %></a></p>
              <p class="lead orange">Opening price: <%= number_to_currency(bid_cart.opening_price) %></p>
        <%end%>
            <p class="small">Auction Ends: <%= bid_cart.bid_end_date%></p>
            </td>
          <td class="col-md-4"></td>
          <td class="col-md-1"><%= link_to 'Start Bidding', bid_cart, :class => 'btn btn-large btn-info' %></td>
          <td class="col-md-1"><% if can? :update, bid_cart %><%= link_to 'Edit Auction', edit_bid_cart_path(bid_cart), :class => 'btn btn-large btn-success' %><%end%></td>
          <td class="col-md-1"><% if can? :update, bid_cart %><%= link_to 'Delete Auction', bid_cart, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-large btn-warning' %><%end%></td>

      </tr>
  <% end %>
</table>

<%#= link_to 'New Bid cart', new_bid_cart_path %>
