<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Bid product:</strong>
  <%= @bid_cart.bid_product_id %>
</p>

<p>
  <strong>Bid end date:</strong>
  <%= @bid_cart.bid_end_date %>
</p>

<p>
  <strong>Opening price:</strong>
  <%= @bid_cart.opening_price %>
</p>

<%= link_to 'Edit', edit_bid_cart_path(@bid_cart) %> |
<%= link_to 'Back', bid_carts_path %>
-->

<p id="notice"><%= notice %></p>

<table border="1">
  <tr>
    <td>

    </td>
    <td>
      <table border="1">

        <tr>
          <th>Bidder</th>
          <th>Bid Amount</th>
          <th>Bid Time</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <%= render @bid_actions %>
        </tr>
      </table>
    </td>
    <td>
      <% @bid_product.each do |item| %>
          <dt><%= image_tag(item.image_url,class: 'list_image',:border =>0)%></dt>
          <dt>Item on auction: <%= item.name %></dt>
          <dt>Technical description: <%= item.technical_description %></dt>
          <dt>Opening price: <%= number_to_currency(@bid_cart.opening_price) %></dt>
      <%end%>

      <br>
      <hr>
      <dt>
        <%= form_for BidAction.new, remote: true do |f| %>
            <%= f.label :Enter_higher_bid_amount %><br>
            <%= f.text_field :bid_amount %><br>
            <%= f.hidden_field :bidder_id ,value:@session_user %><br>
            <%= f.submit "Place Your Bid" %>
        <% end %>
      </dt>
    </td>
    <td>
      <%if(@winner==@session_user)%>
          <%=link_to 'Add to Cart', cart_items_path(product_id: @product_id, quantity: 1)%>
      <%end%>
    </td>
  </tr>
</table>

