

<p id="notice"><%= notice %></p>


<table border="1" style="border-spacing: 1px; border-collapse: separate;">

  <tr>

    <td>
      <table border="0" style="border-spacing: 10px; border-collapse: separate;">
        <tr>
          <th colspan="2">Bidder </th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <th>Bid Amount </th>
          <th>Bid Time </th>
        </tr>
        <tr id="bid_time">
            <%= render @bid_actions %>
          <%#= render @bid_actions %>
        </tr>

      </table>
    </td>
    <td>
      <% @bid_product.each do |item| %>
          <dt><%= image_tag("thumbnails/" +item.image_url,class: 'img-responsive img-thumbnail',:border =>0)%></dt>
          <dt>Item on auction: <%= item.name %></dt>
          <dt>Technical description: <%= item.technical_description %></dt>
          <dt>Opening price: <%= number_to_currency(@bid_cart.opening_price) %></dt>
      <%end%>

      <br>
      <hr>
      <dt>
        <%= form_for BidAction.new, :html =>{remote: true, method: :get} do |f| %>
            <%= f.label :Enter_higher_bid_amount %><br>
            <%= f.text_field :bid_amount %><br>
            <%= f.hidden_field :bidder_id ,value:@session_user %><br>
            <%= f.hidden_field :bid_cart_id ,value:@bid_cart_id %><br>
            <%= f.submit "Place Your Bid" %>
        <% end %>
      </dt>
    </td>
    <td>
      <%if(@winner==@session_user)%>
          <%=link_to 'Add to Cart', cart_items_path(product_id: @product_id, quantity: 1)%>
      <%end%>
    </td>
  </tr>
</table>

<%= link_to 'Back to Auction List', bid_carts_path %>