<p id="notice"><%= notice %></p>

<h1>Listing Shipping Books</h1>

<table>
  <thead>
    <tr>
      <th>Shipping book</th>
      <th>Customer</th>
      <th>Shipping name</th>
      <th>Shipping address</th>
      <th>Shipping city</th>
      <th>Shipping state province</th>
      <th>Shipping zip postal</th>
      <th>Shipping country region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_books.each do |shipping_book| %>
      <tr>
        <td><%= shipping_book.shipping_book_id %></td>
        <td><%= shipping_book.customer_id %></td>
        <td><%= shipping_book.shipping_name %></td>
        <td><%= shipping_book.shipping_address %></td>
        <td><%= shipping_book.shipping_city %></td>
        <td><%= shipping_book.shipping_state_province %></td>
        <td><%= shipping_book.shipping_zip_postal %></td>
        <td><%= shipping_book.shipping_country_region %></td>
        <td><%= link_to 'Show', shipping_book %></td>
        <td><%= link_to 'Edit', edit_shipping_book_path(shipping_book) %></td>
        <td><%= link_to 'Destroy', shipping_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping book', new_shipping_book_path %>
