<p id="notice"><%= notice %></p>

<h1>Shipping Address Book</h1>
<p>
  Please select a desired shipping address from your address book. If the desired address is not present, you can enter new shipping address by clicking <%= link_to 'Add New Shipping Address', new_shipping_book_path %>.
</p>

<% if @shipping_books %>
    <% @shipping_books.each do |shipping_book| %>
        <table border="0" style="border-spacing: 3px; border-collapse: separate;">
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td>
              <dt><%=shipping_book.shipping_name  %></dt>
              <dt><%=shipping_book.shipping_address %></dt>
              <dt><%=shipping_book.shipping_city %>,<%=shipping_book.shipping_state_province %><%=shipping_book.shipping_zip_postal %></dt>
              <dt><%=shipping_book.shipping_country_region %></dt>
            </td>
          </tr>
          <tr>
            <td><%= link_to 'Ship to this address',checkout_index_path(shipping_book_id: shipping_book.shipping_book_id),:class => 'btn btn-large btn-info' %></td>
          </tr>
          <tr>
            <td>
              <%= link_to 'Edit', edit_shipping_book_path(shipping_book),:class => 'btn btn-large btn-warning' %>
            </td>
            <td>
              <%= button_to 'Destroy', shipping_book, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-large btn-danger' %>
            </td>
          </tr>
        </table>
        <hr>
    <% end %>
<% end %>

<br>

<%= link_to 'Add New Shipping Address', new_shipping_book_path %>

