<!--
<table border="0">

  <tr>
    <td>
      <li><%= bid_action.bidder_id %> </li>
    </td>
    <td>
      <li><%= bid_action.bid_amount %> </li>
    </td>
    <td>
      <span class="created_at"><%= bid_action.created_at.strftime("%H:%M") %></span>
      <%=@auction_winner%>
    </td>
    <td>

    </td>
  </tr>

</table>-->


<!--<table border="1" style="border-spacing: 10px; border-collapse: separate;">

  <tr>
    <td>
     <%= bid_action.bidder_id %>
    </td>
    <td>
     <%= bid_action.bid_amount %>
    </td>
    <td>
      <span class="created_at"><%= bid_action.created_at.strftime("%H:%M") %></span>
      <%=@bid_action%>
    </td>
  </tr>

</table>-->

<table style="border-spacing: 10px; border-collapse: separate;">
  <tr>


        <td><%= bid_action.bidder_id %></td>
        <td></td>
        <td></td>
        <td><%= bid_action.bid_amount %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= bid_action.created_at.strftime("%H:%M:%S") %></td>



  </tr>
</table>



