

  <div class="row">

   <div class="col-md-4">
     <div class="row row-adjust" style="text-align: center;"> <p class="highlight"> Items on Auction </p></div>

     <div class="row row-adjust">

       <ul class="c-result-list">
         <% if @bid_cart %>
             <%  @bid_cart.each do |auction| %>
                 <li class="col-sm-4 c-result-item list-unstyled">
                   <div class ="s-item-container">
                     <!--<div class="spacing-mini"><%#= link_to image_tag("thumbnails/" + auction.image_url, class: 'img-responsive img-thumbnail'),product_details_path(product_id: product.product_id)%></div>-->
                     <div class="spacing-mini"><h4><%= link_to @product_name, bid_cart_path(@bid_cart_id)%></a></h4></div>
                     <div class="spacing-mini"><h4><%= number_to_currency(auction.opening_price) %></h4></div>
                     <div class="spacing-mini"><p><%= auction.bid_end_date%></p></div>
                   </div>
                 </li>
             <%end%>
         <% end %>
       </ul>
     </div>
    </div>

    <div class="col-md-8 lf-bdr">

      <div class="row carousel-holder row-adjust">

        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag("carousel/thangka1.jpeg", class: 'img-responsive')%>
              </div>
              <div class="item">
                <%= image_tag("carousel/thangka2.jpeg", class: 'img-responsive')%>
              </div>
              <div class="item">
                <%= image_tag("carousel/thangka3.jpeg", class: 'img-responsive')%>
              </div>
              <div class="item">
                <%= image_tag("carousel/thangka4.jpeg", class: 'img-responsive')%>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>

      </div>

      <div class="row row-adjust"> <h3>  FEATURED ITEMS </h3> <hr></div>

      <div class="row row-adjust">
        <% @featured_products.each do |product| %>
        <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
            <%= image_tag("thumbnails/" + product.image_url, class: 'img-responsive img-thumbnail')%>
            <div class="caption">
              <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
              <h4><%= link_to product.product_name, product_details_path(product_id: product.product_id)%></a>
              </h4>
             <p><%= product.description[0..100] +"..." %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="row row-adjust"> <h3> RECENTLY ADDED ITEMS</h3> <hr></div>

      <div class="row row-adjust">
        <% @recent_products.each do |product| %>
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                <%= image_tag("thumbnails/" + product.image_url, class: 'img-responsive img-thumbnail')%>
                <div class="caption">
                  <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
                  <h4><%= link_to product.name, product_details_path(product_id: product.product_id)%></a>
                  </h4>
                 <p><%= product.description[0..100] +"..." %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
