<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= @seller.seller_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @seller.company %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @seller.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @seller.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @seller.business_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @seller.home_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @seller.cell_phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @seller.fax %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seller.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @seller.city %>
</p>

<p>
  <strong>State province:</strong>
  <%= @seller.state_province %>
</p>

<p>
  <strong>Zip postal code:</strong>
  <%= @seller.zip_postal_code %>
</p>

<p>
  <strong>Country region:</strong>
  <%= @seller.country_region %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
