<h1> Product Details </h1>

  <% for product in @product_details %>
      <div class = "row">
        <div class = "col-md-12">
          <h3><%=product.name%></h3>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-4">
          <%= image_tag(product.image_url, class: 'img-responsive img-thumbnail') %>
        </div>
        <div class = "col-md-4">
          <p class="description"><%=product.description%></p>
          <p class="description">Price: <span class="price"><%=number_to_currency(product.price)%></span></p>
          <p class="description" >Stocks left: &nbsp; <%=product.quantity%></p>
          
          <form>
            <div class="form-group">
              <label for="quantity">Qty</label>
              <input type="number" name="quantity" id="quantity" class="form-control quantity" min="1" max="5" size="2">
            </div>
            <div class="form-group">
              <%= button_to('Add to Cart', product_details_path, :class => 'btn btn-large btn-primary') %>
            </div>
          </form>
        </div>
        <div class = "col-md-4">
        </div>
  <%end%>
  </div>
</div>

<br>
<hr>
<% if current_user.present? %>
    <div class="suggested-content">
      <h3> Suggested Products </h3><br/>
      <div class="row">
        <% if @suggested_items %>
            <%  @suggested_items.each do |suggestion| %>
                <div class="col-sm-3">
                  <div><%= link_to image_tag("thumbnails/" + suggestion.image_url, class: 'img-responsive img-thumbnail'),product_details_path(product_id: suggestion.product_id)%></div>
                  <h3><%= suggestion.name %></h3>
                  <p class="description"><%= truncate suggestion.description,lenght: 50 %></p>
                  <p class="price"><%= number_to_currency(suggestion.price) %></p>
                </div>
            <%end%>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="history-content">
      <h3>Your viewing history</h3>
        <div class="row">
          <table>
            <%if @viewing_history %>
                <% @viewing_history.each do |items_viewed| %>
                    <td>
                      <dt><%= link_to image_tag("thumbnails/" + product.image_url, class: 'img-responsive img-thumbnail'),product_details_path(product_id: items_viewed.product_id)%></dt>
                      <dt><%= items_viewed.product_name %></dt>
                      <dt><%= number_to_currency(items_viewed.price) %></dt>
                    </td>
                <%end%>
            <% end %>
          </table>
          <%=link_to "See more...", histories_path%>
          <br>
          <hr>
        </div>
    </div>
<%end%>

