<div class="row">
    <div class="col-md-8">
        <% for product in @product_details %>

          <div class = "row">
            <div class = "col-md-4">
              <%= image_tag product.image.url(:large), class: 'img-responsive img-thumbnail' %>
            </div>
            <div class = "col-md-7">
              <h3><%=product.name%></h3>
              <p class="description"><%=product.description%></p>
              <p class="description">Price: <span class="price"><%=number_to_currency(product.price)%></span></p>
              <p class="description" >
                <%if product.quantity!=0%>
                    Stocks left: &nbsp;<%=product.quantity%>
                <%else%>
                    Stocks left: &nbsp;<%='Temporarily Out of Stock'%>
                <%end%>
              </p>
              <form>
                <div class="form-group">
                  <label for="quantity">Qty</label>
                  <input type="number" name="quantity" id="quantity" class="form-control quantity" min="1" max="1" size="2">
                </div>
              </form>

              <div class="form-group">
                <%if product.quantity!=0%>
                    <%=button_to 'Add to Cart', cart_items_path(product_id: product.id, quantity: 1), :class => 'btn btn-large btn-warning' %>
                <%end%>
               <!-- <%#if product.u_id == current_user.id%>
                    <td><%#= link_to 'Add to Auction', new_bid_cart_path(bid_product_id: product.product_id), :class => 'btn btn-large btn-success'%></td>
                <%#end%>-->
              </div>
            </div>
            <div class = "col-md-1"></div>
          </div>
        <%end%>
    </div>
    <div class = "col-md-4">
        <% if current_user.present? %>
            <div class="suggested-content bdr-left">
              <h3>RECOMMENDTION</h3><br/>
              <div class="row">
                <% if @suggested_items %>
                    <%  @suggested_items.each do |suggestion| %>
                        <div class="col-sm-12">
                          <div><%= link_to image_tag(suggestion.image.url(:medium), class: 'img-responsive img-thumbnail'),product_details_path(product_id: suggestion.product_id)%></div>
                          <h3><%= link_to suggestion.name,product_details_path(product_id: suggestion.product_id)%></h3>
                          <p class="description"><%= truncate suggestion.description,lenght: 50 %></p>
                          <p class="price"><%= number_to_currency(suggestion.price) %></p>
                          <%if product.quantity!=0%>
                              <%= link_to 'Add to Cart', cart_items_path(product_id: product.id, quantity: 1), :class => 'btn btn-large btn-warning' %>
                          <%end%>
                        </div>
                    <%end%>
                <% end %>
              </div>
            </div>
        <%end%>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>HISTORY</h3>
    <div id="history-content">
      <div id="insideDiv">
        <%if @viewing_history %>
            <% @viewing_history.each do |items_viewed| %>
                <span>
                    <%= link_to image_tag(items_viewed.image_url, class: 'img-responsive img-thumbnail'),product_details_path(product_id: items_viewed.product_id)%>
                    <p class="lead"><%= link_to items_viewed.product_name, product_details_path(product_id: items_viewed.product_id) %></p>
                    <p class="price"><%= number_to_currency(items_viewed.price) %></p>
                </span>
            <%end%>
        <% end %>
      </div>
      <br />
      <%#=link_to "See more...", histories_path%>
    </div>
  </div>
</div>