<div class="row">

  <div class="col-md-8">
    <ul class="c-result-list">
      <% if @product %>
          <%  @product.each do |product| %>
              <li class="col-sm-4 c-result-item list-unstyled">
                <div class ="s-item-container">
                  <div class="spacing-mini"><%= link_to image_tag(product.image.url(:medium), class: 'img-responsive img-thumbnail'),product_details_path(product_id: product.product_id)%></div>
                  <div class="spacing-mini"><h4><%= link_to product.name, product_details_path(product_id: product.product_id) %></h4></div>
                  <div class="spacing-mini"><p><%= product.description[0..50] +"..." %></p></div>
                  <div class="spacing-mini"><h4><%= number_to_currency(product.price) %></h4></div>
                </div>
              </li>
          <%end%>
      <% end %>
    </ul>
  </div>


  <div class="col-md-4 bdr-left">
    <ul class="c-result-list">
      <% if !@added_item.nil? %>
          <% @added_item.each do |item| %>

                  <%if (item.quantity==@cart_quantity)%>
                      <h3 class=" spacing"><%='Sorry, all available stocks for this item are now on reserved status'%></h3>
                  <%else%>
                      <h3 class="spacing-mini spacing"> <%='1 Item added to your Shopping Cart'%></h3>
                  <%end%>

              <li class="c-result-item list-unstyled">

                <div class ="s-item-container">

                  <div class="spacing-mini"><%= link_to image_tag(item.image.url(:medium), class: 'img-responsive img-thumbnail'),product_details_path(product_id: item.product_id)%></div>
                  <div class="spacing-mini"><h4><%=link_to item.name%></h4></div>
                  <div class="spacing-mini"><p>In Stock:<%= item.quantity %><p></div>
                  <div class="spacing-mini"><h4><%= number_to_currency(item.price) %></h4> </div>
                  <div class="spacing-mini"><p class="small">Order Subtotal:<%= number_to_currency(@cart_sub_total)%></p></div>
                  <div class="spacing-mini"><p class="small"><%= @cart_item_count%> items in your Shopping Cart </p></div>
                  <div class="spacing-mini"><%=link_to'Edit cart',shopping_cart_path(id: @shopping_cart), :class => 'btn btn-large btn-success'%>
                  <%= link_to 'Proceed to Checkout',shipping_books_url, :class => 'btn btn-large btn-info'%></div>

                </div>

              </li>
          <% end %>
      <% end %>
    </ul>
  </div>

</div>