
<table border="0">
  <% @added_item.each do |item| %>
      <%if (item.quantity==@cart_quantity)%>
          <%='Sorry, all available stocks for this item are now on reserved status'%>
      <%else%>
          <%='1 Item added to your Shopping Cart'%>
      <%end%>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= link_to image_tag(item.image_url,class: 'list_image',:border =>0),product_details_index_path(product_id: item.product_id)%></td>

        <td>
          <dt><%= item.name %></dt>
          <dt>In Stock:<%= item.quantity %></dt>
          <dt><%= number_to_currency(item.price) %></dt>
        </td>

        <td></td>
        <td></td>
        <td></td>

        <td class="list_actions" >
          <dt>Order Subtotal:<%= number_to_currency(@cart_sub_total) %></dt>
          <dt><%= @cart_item_count%> items in your Shopping Cart</dt>

        </td>

        <td class="list_actions" >
          <dt><%=link_to'Edit cart',shopping_cart_path(id: @shopping_cart) %></dt>
        </td>

        <td class="list_actions" >
          <dt> <%= link_to 'Proceed to Checkout',shipping_books_url %></dt>
        </td>

      </tr>

  <% end %>

</table>


<h1>Product Catalog</h1>

<h2> Thangkas </h2>
<div class="scroll">
  <table>
    <% if @thangkas %>
        <%  @thangkas.each do |thangka| %>
            <td>

              <dt><%= link_to image_tag(thangka.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: thangka.product_id)%></dt>
              <dt><%= thangka.name %></dt>
              <dt><%= truncate thangka.description,lenght: 50 %></dt>
              <dt><%= number_to_currency(thangka.price) %></dt>

            </td>
        <%end%>
    <% end %>
  </table>
</div>
<br>
<hr>

<h2> Artifacts </h2>
<div class="scroll">
  <table>
    <% if @artifacts %>
        <%  @artifacts.each do |artifact| %>
            <td>

              <dt><%= link_to image_tag(artifact.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: artifact.product_id)%></dt>
              <dt><%= artifact.name %></dt>
              <dt><%= truncate artifact.description,lenght: 50 %></dt>
              <dt><%= number_to_currency(artifact.price) %></dt>

            </td>
        <%end%>
    <% end %>
  </table>
</div>
<br>
<hr>

<h2>Jewelleries </h2>


<div class="scroll">
  <table>
    <% if @jewelleries %>
        <%  @jewelleries.each do |jewellery| %>

            <td>
              <dt><%= link_to image_tag(jewellery.image_url,class: 'list_suggested_image',:border =>0),product_details_index_path(product_id: jewellery.product_id)%></dt>
              <dt><%= jewellery.name %></dt>
              <dt><%= truncate jewellery.description,lenght: 50 %></dt>
              <dt><%= number_to_currency(jewellery.price) %></dt>
            </td>

        <%end%>

    <% end %>

  </table>

  <br>
  <hr>

</div>



