
<h1>Seller Dashboard</h1>


<table>
  <tr>
    <td>History</td>
    <td>
      <ul>
        <li><%=link_to "Selling History"%></li>
      </ul>
    </td>
    <td></td>
  </tr>


  <tr>
    <td>Sales Activity</td>
    <td>
      <ul>
        <li><%=link_to "Sell an Item"%></li>
        <li><%=link_to "Active Sales"%></li>
        <li><%=link_to "Scheduled Sales"%></li>
        <li><%=link_to "Sold Items"%></li>
        <li><%=link_to "Unsold Items"%></li>
      </ul>
    </td>
    <td></td>
  </tr>


  <tr>
    <td> Main Dashboard</td>
    <td>
      <ul>
        <li><%=link_to "Main Dashboard"%></li>
      </ul>
    </td>
    <td></td>
  </tr>

</table>

