<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :product_id %><br>
      <%= f.text_field :product_id %>
    </div>
    <div class="field">
      <%= f.label :seller_id %><br>
      <%= f.text_field :seller_id %>
    </div>
    <div class="field">
      <%= f.label :product_name %><br>
      <%= f.text_field :product_name %>
    </div>
    <div class="field">
      <%= f.label :image_url %><br>
      <%= f.text_field :image_url %>
    </div>
    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category,options_for_select(%w[Artifact Jewellery Thangka]) %>
    </div>
    <div class="field">
      <%= f.label :sub_category %><br>
      <%= f.select :sub_category,options_for_select(%w[Deities Pendants Ritual-Items])%>
    </div>
    <div class="field">
      <%= f.label :product_condition %><br>
      <%= f.text_field :product_condition %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :technical_description %><br>
      <%= f.text_field :technical_description %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
