<h3>YOUR PRODUCTS</h3><br/>
<table class="table table-striped">

  <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td class="col-md-2"><%= image_tag("thumbnails/" + product.image_url, class: 'img-responsive img-thumbnail') %></td>
        <td class="col-md-2">
          <p class="lead"><%= product.name %></p>
          <p class="lead orange"><%= number_to_currency(product.price)%></p>
          <p class="small">Quantity: &nbsp;<%= product.quantity%></p>
          <p class="small">Technical Description: <br ><%= product.technical_description%></p>
        </td>
        <td class="col-md-4">
          <dl>
            <dd class="md"><%= product.description[0..200]+"..." %></dd>
          </dl>
        </td>
        <td class="col-md-2">
          <dl>
            <dd class="small">Category: <%= product.category %></dd><br/>
            <dd class="small">Subcategory: <%= product.subcategory %></dd><br/>
            <dd class="small">Condition: <%= product.product_condition %></dd><br/>
          </dl>
        </td>
        <!-- <td><%= link_to 'Show', product %></td> -->
        <td><% if can? :update, product %><%= link_to 'Edit', edit_product_path(product), :class =>"btn btn-small btn-success"%><% end %></td>
        <td><% if can? :destroy, product %><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %><% end %></td>
      </tr>
  <% end %>
</table>

<br>

<%#= link_to 'New Product', new_product_path %>

<%# Added Bootstrap data modal attribute %>
<% if can? :new, @product %>
    <%= link_to 'New Product', '#new_product_modal', 'data-toggle' => 'modal', :class => 'btn btn-large btn-info' %>
<%end%>


<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_product_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new product</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-small btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






