<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.product_id %>
</p>
<!--
<p>
  <strong>Seller_id:</strong>
  <%#= @product.seller_id %>
</p>-->

<p>
  <strong>Product name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Image:</strong><br/>
  <%#= image_tag product.image.url(:thumb) %>
  <%= image_tag @product.image.url(:medium), class: 'img-responsive img-thumbnail'%>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @product.subcategory %>
</p>

<p>
  <strong>Product condition:</strong>
  <%= @product.product_condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Technical description:</strong>
  <%= @product.technical_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'My Products', products_path %>
