<h1>Your Dashboard</h1>


<table>
  <tr>
    <td>History</td>
    <td>
      <ul>
        <li><%=link_to "Purchase History"%></li>
        <li><%=link_to "Browsing History"%></li>
        <li><%=link_to "Bidding History"%></li>
      </ul>
    </td>
    <td></td>
  </tr>


  <tr>
    <td>Bidding</td>
    <td>
      <ul>
        <li><%=link_to "Current Bids / Offers"%></li>
        <li><%=link_to "Wins"%></li>
        <li><%=link_to "Losses"%></li>
      </ul>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>Account Maintenance</td>
    <td>
      <ul>
        <li><%=link_to "Personal Information"%></li>
        <li><%=link_to "Shipping"%></li>
      </ul>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>Seller Dashboard</td>
    <td>
      <ul>
        <li><%=link_to "Seller Dashboard"%></li>
      </ul>
    </td>
    <td></td>
  </tr>

</table>

