
<div class="col-xs-3"></div>
<div class="col-xs-9">

  <ul id="draggablePanelList" class="list-unstyled">
    <li class="panel panel-info">
      <ul class="nav nav-tabs panel-heading" role="tablist">
        <li class="active"><a href="#Purchase_history" role="tab" data-toggle="tab">Purchase History</a></li>
        <li><a href="#Browsing_history" role="tab" data-toggle="tab">Browsing History</a></li>
        <li><a href="#Bidding_history" role="tab" data-toggle="tab">Bidding History</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="Purchase_history"><p class="lead">

          <ul class="c-result-list">
            <% if !@purchase_history.nil?%>
                <% @purchase_history.each do |order|%>

                    <%@purchase_details_history=OrderDetail.where(order_id: order.order_id).limit(1)%>
                    <%@purchase_shipping_history=OrderShipment.where(shipment_id: order.shipping_id).limit(1)%>
                    <li class="c-result-item pd-rt list-unstyled "><%=order.order_date.inspect%></li>

                <%end%>
                <% if !@purchase_details_history.nil?%>
                    <%@purchase_details_history.each  do |detail|%>
                    <%@product=Product.where(product_id: detail.product_id)%>
                    <%@product.each do |product|%>

                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%= product.name%></li>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=detail.quantity%></li>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=number_to_currency(detail.unit_price)%>
                    <%end%>
                    <%end%>
                <%end%>
                <% if !@purchase_details_history.nil?%>
                    <%@purchase_shipping_history.each do |ship|%>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=ship.shipping_name%></li>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=ship.shipping_address%></li>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=ship.shipping_city%>, <%=ship.shipping_state_province%> <%=ship.shipping_zip_postal%>
                        <li class="c-result-item pd-rt list-unstyled ">&nbsp;<%=ship.shipping_country_region%>
                    <%end%>
                <%end%>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no purchases in your history</li><br />
            <% end %>
          </ul>
          <h4><%=link_to "More purchase history...", purchase_history_index_path%></h4>
        </div>


        <div class="tab-pane" id="Browsing_history">
          <ul class="c-result-list">
          <% if !@history.nil?%>
              <%  @history.each do |history| %>
                  <li class="c-result-item pd-rt">
                    <%= link_to history.product_name, product_details_index_path(product_id: history.product_id)%></a>
                  </li><br />
              <% end %>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no browsing activities in your history</li><br />
          <% end %>
          </ul>
          <h4><%=link_to "Detailed Browsing History...", histories_path%></h4>
        </div>
        <div class="tab-pane" id="Bidding_history">


          <ul class="c-result-list">

            <% if !@bid_history.nil?%>
                <% @bid_history.each do |auction| %>
                    <%@product=Product.where(product_id: auction.bid_cart.bid_product_id)%>
                    <%@product.each do |product|%>
                        <!--<li class="c-result-item pd-rt list-unstyled "><%= image_tag ("thumbnails/" + product.image_url)%></li>-->
                        <li class="c-result-item pd-rt list-unstyled ">Item on Auction:&nbsp;<%= product.name%></li>
                        <li class="c-result-item pd-rt list-unstyled ">Opening Price:&nbsp;<%= number_to_currency(auction.bid_cart.opening_price) %>
                    <%end%>
                    <li class="c-result-item pd-rt list-unstyled ">Auction Ends on:&nbsp;<%= auction.bid_cart.bid_end_date %>
                <% end %>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no auctions in your history</li><br />
            <% end %>
          </ul>

          <h4><%=link_to "More bid history...", bid_history_index_path%></h4>

        </div>
      </div>
    </li>
    <li class="panel panel-info">
      <ul class="nav nav-tabs panel-heading" role="tablist">
        <li class="active"><a href="#current_bid" role="tab" data-toggle="tab">Current Bids / Offers"</a></li>
        <li><a href="#win" role="tab" data-toggle="tab">Win</a></li>
        <li><a href="#loss" role="tab" data-toggle="tab">Loss</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="current_bid">

          <ul class="c-result-list">

            <% if !@current_auction.nil?%>
                <% @current_auction.each do |auction| %>
                    <%@product=Product.where(product_id: auction.bid_product_id)%>
                    <%@product.each do |product|%>
                        <!--<li class="c-result-item pd-rt list-unstyled "><%#= image_tag (product.image.url(:thumb))%></li>-->
                        <li class="c-result-item pd-rt list-unstyled ">Item on Auction:&nbsp;<%= link_to product.name,bid_cart_path(auction.id)%></li>
                        <li class="c-result-item pd-rt list-unstyled ">Opening Price:&nbsp;<%= number_to_currency(auction.opening_price) %>
                    <%end%>
                    <li class="c-result-item pd-rt list-unstyled ">Auction Ends on:&nbsp;<%= auction.bid_end_date%>
                <% end %>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no ongoing auctions</li><br />
            <% end %>
          </ul>

          <h4><%=link_to "More auctions...", bid_carts_path%></h4>

        </div>


        <div class="tab-pane" id="win">


          <ul class="c-result-list">

            <% if !@bids_won.nil?%>
                <% @bids_won.each do |won| %>
                    <%@product=Product.where(product_id: won.bid_product)%>
                    <%@product.each do |product|%>
                        <!--<li class="c-result-item pd-rt list-unstyled "><%= image_tag ("thumbnails/" + product.image_url)%></li>-->
                        <li class="c-result-item pd-rt list-unstyled ">Item on Auction:&nbsp;<%=  product.name%></li>
                        <li class="c-result-item pd-rt list-unstyled ">Opening Price:&nbsp;<%= number_to_currency(won.bid_cart.opening_price) %>
                        <li class="c-result-item pd-rt list-unstyled ">Closing Price:&nbsp;<%= number_to_currency(won.winning_amount)%>
                        <li class="c-result-item pd-rt list-unstyled ">Auction Ended on:&nbsp;<%= won.bid_cart.bid_end_date%>

                    <%end%>
                <% end %>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no auctions in your history</li><br />
            <% end %>
          </ul>

          <h4><%=link_to "More auctions...", bid_history_index_path%></h4>


        </div>

        <div class="tab-pane" id="loss">

          <ul class="c-result-list">

            <% if !@bid_actions_history.nil?%>

                <% @bid_actions_history.each do |loss| %>
                    <%@bids_won.each do |won|%>
                    <%if((loss.bid_cart_id!=won.bid_cart_id))%>
                    <%@product=Product.where(product_id: loss.bid_cart.bid_product_id)%>
                    <%@product.each do |product|%>
                        <!--<li class="c-result-item pd-rt list-unstyled "><%= image_tag ("thumbnails/" + product.image_url)%></li>-->
                        <li class="c-result-item pd-rt list-unstyled ">Item on Auction:&nbsp;<%=  product.name%></li>
                        <li class="c-result-item pd-rt list-unstyled ">Opening Price:&nbsp;<%= number_to_currency(loss.bid_cart.opening_price) %>
                    <%end%>
                    <li class="c-result-item pd-rt list-unstyled ">Auction Ended on:&nbsp;<%= loss.bid_cart.bid_end_date%>
                <% end %>
                <%end%>
                <%end%>
            <% else %>
                <li class="c-result-item pd-rt">Currently there are no auctions in your history</li><br />
            <% end %>
          </ul>

          <h4><%=link_to "More auctions...", bid_history_index_path%></h4>

        </div>



      </div>
    </li>
    <li class="panel panel-info">
      <ul class="nav nav-tabs panel-heading" role="tablist">
        <li class="active"><a href="#personal_info" role="tab" data-toggle="tab">Personal Information</a></li>
        <li><a href="#shipping" role="tab" data-toggle="tab">Shipping</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="personal_info">
          <ul class="c-result-list">
            <% if @customer %>
                <%  @customer.each do |customer| %>
                    <li class="c-result-item pd-rt list-unstyled ">First Name:&nbsp;<%= customer.first_name %></li>
                    <li class="c-result-item pd-rt list-unstyled ">Last Name:&nbsp;<%= customer.last_name %></li>
                    <li class="c-result-item pd-rt list-unstyled block">Home Phone:&nbsp;<%= customer.home_phone %></li>
                    <li class="c-result-item pd-rt list-unstyled ">Cell Phone:&nbsp; <%= customer.cell_phone %></li>
                    <li class="c-result-item pd-rt list-unstyled ">Fax:&nbsp; <%= customer.fax%></li>
                    <li class="c-result-item pd-rt list-unstyled block">Address:&nbsp; <%= customer.address %></li>
                    <li class="c-result-item pd-rt list-unstyled ">City:&nbsp; <%= customer.city %></li>
                    <li class="c-result-item pd-rt list-unstyled ">State:&nbsp; <%= customer.state_province%></li>
                    <li class="c-result-item pd-rt list-unstyled ">Zip-Code:&nbsp; <%= customer.zip_postal_code %></li>
                    <li class="c-result-item pd-rt list-unstyled block">Country:&nbsp; <%= customer.country_region%></li>
                    <li class="list-unstyled inline-block"><%= link_to 'Edit Profile', edit_customer_path(customer.id), :class => "btn btn-small btn-success" %></li><span>&nbsp;&nbsp;</span>
                    <li class="list-unstyled inline-block"><%= button_to 'Delete Account', customer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></li>
          <%end%>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="shipping">
            <ul class="c-result-list">
              <% if !@shipping_book.nil?%>
                  <%  @shipping_book.each do |ship| %>
                      <li class="c-result-item pd-rt list-unstyled ">Shipping Name:&nbsp;<%= ship.shipping_name %></li>
                      <li class="c-result-item pd-rt list-unstyled ">Shipping City:&nbsp; <%= ship.shipping_city %></li>
                      <li class="c-result-item pd-rt list-unstyled ">Shipping State:&nbsp; <%= ship.shipping_state_province%></li>
                      <li class="c-result-item pd-rt list-unstyled ">Shipping Zip/Postal Code:&nbsp; <%= ship.shipping_zip_postal %></li>
                      <li class="c-result-item pd-rt list-unstyled block">Shipping Country/Region:&nbsp; <%= ship.shipping_country_region%></li>
                      <li class="list-unstyled inline-block"><%= link_to 'Edit Shipping', edit_shipping_book_path(ship.id), :class => "btn btn-small btn-success" %></li>
                      <li class="list-unstyled inline-block"><%= button_to 'Delete Shipping', ship, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></li>
                   <%end%>

              <% else %>
                  <li class="c-result-item pd-rt">You don't have any shipping information yet</li><br />
              <% end %>
            </ul>
        <h4><%=link_to "More shipping...", shipping_books_path%></h4>
        </div>

      </div>
    </li>
    <li class="panel panel-info">
      <ul class="nav nav-tabs panel-heading" role="tablist">
        <li class="active"><a href="#seller_dashboard" role="tab" data-toggle="tab">Seller Dashboard</a></li>
        <% if current_user.present? && current_user.role_ids.include?(3) && current_user.role_ids.include?(2)%>
            <li><a href="#manage_products" role="tab" data-toggle="tab">Manage Products</a></li>
        <% end %>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="seller_dashboard">
          <% if current_user.present? && !current_user.role_ids.include?(2) && current_user.role_ids.include?(3)%>
             <%= link_to "Sign up for Seller's Account", sellers_new_path%>
          <% else %>
              <ul class="c-result-list">
                <% if @seller %>
                    <%  @seller.each do |seller| %>
                        <li class="c-result-item pd-rt list-unstyled block">Company:&nbsp;<%= seller.company %></li>
                        <li class="c-result-item pd-rt list-unstyled block">Business Phone:&nbsp;<%= seller.business_phone %></li>
                        <li class="list-unstyled inline-block"><%= link_to 'Edit Profile', edit_seller_path(seller.id), :class => "btn btn-small btn-success" %></li><span>&nbsp;&nbsp;</span>
                        <li class="list-unstyled inline-block"><%= button_to 'Delete Seller Profile', seller, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></li>
                    <%end%>
                <% end %>
              </ul>
          <%end%>
        </div>
            <div class="tab-pane" id="manage_products">
              <ul class="c-result-list">
                <% if !@product.present? %>
                    <li class="list-unstyled block"> <p class="lead">You dont have products </p> </li>
                <%else%>
                    <li class="list-unstyled block"><%= link_to 'Manage Products', products_path, :class => "btn btn-small btn-success" %></li>
                <%end%>
                <li class="list-unstyled"><%= link_to 'Add New Products', products_path, :class => "btn btn-small btn-info" %></li>
              </ul>
            </div>
      </div>
    </li>
  </ul>
</div>
